body {
  marigin: 0;
  padding: 0;

  background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: white;
}

/* boostrap override */
.col {
  padding: 0;
}

.container {
}

.jumbotron {
  padding: 2em;
  background: rgba(0, 0, 0, 0.5);
}

.jumbotron a {
  color: lightgreen;
}

/* custom */
.btn-default {
  background: lightgreen;
}

.btn-default:hover {
  background: white;
  color: #000000;
  border: solid 0.1em white;
}

.events-container {
  padding-bottom: 2em;
  border-radius: 1.5em;
  background: rgba(0, 0, 0, 0.7);
}


.events-header, .event-header, .event-body , .guest-body{
  padding: 1em;
}

.guest-body {
  margin-bottom: 1em;
}

.events-container .event-container {
  padding: 1em;
  background: rgba(0, 0, 0, 0);;
}

.events-container .event-container:hover {
  background: rgba(0, 0, 0, 0.25);
}

.events-container .event-container:nth-child(2n) {
  background: rgba(0, 0, 0, 0.5);
  color: lightgreen;
}

.events-container .event-container:nth-child(2n):hover {
  background: rgba(0, 0, 0, 0.75);
}

.events-container .event-container .guest-body {
  background: white;
  color: darkgreen;
}

label {
  display: block;
}

input {
  margin: 0em 0em 2em 0em ;
}

.leftalign {
  text-align: left;
}

.rightalign {
  text-align: right;
}

@media(max-width: 768px) {
  body {
  }

  .container {
  }

  .jumbotron {
  }

  .events-container {
  }

  .events-container .event-nav {
  }

  .events-container .event-container {
  }


  .events-container .event-container .guest-body {
  }
}


@media(min-width: 768px) and (max-width: 992px) {
  body {
  }

  .container {
  }

  .jumbotron {
  }

  .events-container {
  }

  .events-container .event-nav {
  }

  .events-container .event-container {
  }


  .events-container .event-container .guest-body {
  }
}

@media(min-width: 992px) {
  body {
  }

  .container {
  }

  .jumbotron {
  }

  .events-container {
  }

  .events-container .event-nav {
  }

  .events-container .event-container {
  }


  .events-container .event-container .guest-body {
  }
}