<div class="events-container col-md-4 col-md-offset-4">
    <div class="events-header">
        <h2 class="events-title">Events</h2>
    </div>
    <div class="event-container" ng-repeat="event in events.events" ng-click="switchToEventDetail(event)">
        <div class="event-header">
            <h2 class="event-title">Event ID {{ event.id }}</h2>
        </div>
        <div class="event-body">
            <div class="event">
                <div class="event-row">{{ event.times.begin | date : 'dd.MM.yy HH:mm:ss' }}</div>
                <div class="event-row">{{ event.name }}</div>
                <div class="event-row">{{ event.location.name }}, {{ event.location.street }}</div>
                <div class="event-row">{{ event.location.city }}</div>
            </div>
        </div>
    </div>
</div>