<div class="events-header">
    <h2 class="events-title">Add guest</h2>
</div>
<div class="event-container">
    <div class="event-header">
        <h2 class="event-title">New guest</h2>
    </div>
    <div class="event-body">
        <form>
            <div class="form-group">
                <label class="control-label">Name:</label>
                <input class="form-control" type="text" placeholder="Name" ng-model="guest.name" required />
            </div>
            <div class="form-group">
                <label class="control-label">Contribution:</label>
                <input class="form-control" type="text" placeholder="Contribution" ng-model="guest.contribution"  required />
            </div>
            <div class="form-group">
                <label class="control-label">Comment:</label>
                <textarea class="form-control" type="text" placeholder="Comment" ng-model="guest.comment"  required  />
            </div>
            <div class="form-group rightalign"><input class="btn btn-default" type="submit" ng-click="create(guest)" value="Save"  required /></div>
        </form>
    </div>
</div>